.wrapper {
    margin: 8px;
    padding: 16px;
    min-height: 10%;
}

.inputValue {
    height: 32px;
    width: 50%;
    font-size: 16px;
}

.button {
    height: 24px;
    width: auto;
    margin-left: 16px;
}